<div class="container mb-3">
  <div class="d-flex  p-3 my-3 text-white-50  rounded box-shadow myBlock">
    <div class="1h-100 text-center">
      <h4 class="mb-0 text-white  pl-2">Duyuru İçeriği</h4>
    </div>
  </div>

  <div class="container">
    <div class="my-1 rounded box-shadow">
      <div class="media text-muted pt-3">
        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray">
          {{notification.notificationContent}}
        </p>
      </div>
    </div>
  </div>
</div>


