
<div class="container mb-3">
  <div class="d-flex  p-3 my-3 text-white-50  rounded box-shadow myBlock">
    <!-- <img class="mr-3" src="../../../assets/images/gaskmini.jpg" alt="Gask" width="48" height="48"> -->
    <div class="1h-100 text-center">
        <h4 class="mb-0 text-white  pl-2">Başarılarımız</h4> 
    </div>
  </div>

 <div class="container">
  <div class="my-1  rounded box-shadow" *ngFor="let item of achievements">
    <div class="media text-muted pt-3">

     
      <div class="benimKupam" *ngIf="item.trophy == '1' " >        
        <p class="media-body p-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #C0C0C0;"></i> <strong class="text-gray-dark pl-2"> {{item.achievementName}} </strong> {{item.achievementDate}}
        </p>
      </div>

      <div class="benimKupam" *ngIf="item.trophy == '0'">
        <p class="media-body p-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #FFD700;"></i> <strong class="text-gray-dark pl-2">{{item.achievementName}} </strong> {{item.achievementDate}}
        </p>
      </div>

      <div class="benimKupam" *ngIf="item.trophy == '2'">
        <p class="media-body p-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #cd7f32;"></i> <strong class="text-gray-dark pl-2">{{item.achievementName}} </strong>{{item.achievementDate}}
        </p>
      </div>

      <div class="benimKupam" *ngIf="item.trophy == '3'">
        <p class="media-body p-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #a19d94;"></i> <strong class="text-gray-dark pl-2">{{item.achievementName}} </strong>{{item.achievementDate}}
        </p>
      </div>

    </div>
  </div>
 </div>

</div>