
<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
    <!-- <img class="mr-3" src="../../../assets/images/gaskmini.jpg" alt="Gask" width="48" height="48"> -->
    <div class="1h-100">
        <h6 class="mb-0 text-white 1h-100">Başarılarımız</h6> 
    </div>
  </div>

  <div class="my-1  rounded box-shadow" *ngFor="let item of achievements">
    <div class="media text-muted pt-3">

     
      <div class="benimKupam" *ngIf="item.trophy == 'Silver' " >        
        <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #C0C0C0;"></i>  {{item.achievementName}} <strong class="text-gray-dark">{{item.achievementDate}}</strong>
        </p>
      </div>

      <div class="benimKupam" *ngIf="item.trophy == 'Gold'">
        <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #FFD700;"></i>  {{item.achievementName}} <strong class="text-gray-dark">{{item.achievementDate}}</strong>
        </p>
      </div>

      <div class="benimKupam" *ngIf="item.trophy == 'Bronz'">
        <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #cd7f32;"></i>  {{item.achievementName}} <strong class="text-gray-dark">{{item.achievementDate}}</strong>
        </p>
      </div>

      <div class="benimKupam" *ngIf="item.trophy == 'Iron'">
        <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
          <i class="fas fa-trophy" style="color: #a19d94;"></i>  {{item.achievementName}} <strong class="text-gray-dark">{{item.achievementDate}}</strong>
        </p>
      </div>

    </div>
  </div>
</div>