<!-- <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Duyurular</div>
    <div class="card-body">
      <div class="announHolder"  *ngFor="let item of notifications ">        
        <p class="card-text">
          {{item.notificationContent | limitTo : -4 : item.notificationContent.lenght }} 
        </p>
        <hr>
      </div>
    </div>
  </div> -->






  

   <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Duyurular</div>
    <div class="card-body">
      <div class="announHolder" *ngFor="let item of notifications">        
        <p class="card-text">
          {{item.notificationContent  }} 
        </p>
        <hr>
      </div>
    </div>
  </div> 
