<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Genç Ankaralılar Spor Kulübü</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="../../../assets/images/myAboutImage.jpeg" alt="Generic placeholder image">
    </div>
  </div>