
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Genç Ankaralılar Spor Kulübü</h2>
      <!-- <div class="benimAbout" *ngFor="let item of about" style="max-width: 500px;">
        <p class="lead">
          <br>          
          {{item.aboutContent}}
        </p> -->

        <p class="lead">Genç Ankarılar Spor Kulübü 2011 yılında kurulmustur </p>
        <p class="lead">
          Misyonumuz, spor yapmak isteyen ve bunun için bu güne kadar fırsat bulamamış herkesi buz sporları ile tanıştırarak, fırsat eşitliği sağlamaktır. Bu sayede Türk gençliğini ve gelecek nesilleri daha sağlıklı ve üretici bireyler olarak yetişmesini amaçlamaktayız.
Vizyonumuz, buz sporlarına gönül vermiş, yetenekli gençlerin milli takımlarda yer alarak, ay-yıldızlı forma ile yeni başarılara imza atmalarını sağlayarak ülkemizin adını tüm dünyaya duyurmak ve ülkemizi tanıtmaktır.
        </p>
        <p class="lead">
          Sporun hayat kalitesini arttırdığına ve yaşam boyu sürdürülmesi gerektiğini sporcularımıza aşılamaya çalışıyoruz.
        </p>
        <p class="lead">
          Bizimle bu yolda yürümeye hazır olan Ankaralıların desteği ve gençlerimizin aramıza katılması gücümüze güç katacaktır.
        </p>


  
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="../../../assets/images/myAboutImage.jpg" style="border-radius: 20%; width:500px; height:500px">
    </div>
  </div>