<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/admin">
                    <span data-feather="home"></span>
                    Admin Anasayfa
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">                  
                    Hakkımızda Düzenle
                  </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="achievs">
                        Başarılarım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        Duyuruları Düzenle
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Takımlarmız Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Oyuncu Ekle-Sil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contacts">
                        İletişim Adreslerim
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Fotoğraf Ekle
                    </a>
                </li>
              </ul>
      
            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
              <!-- MAin render -->
              <div class="container p-4">
                  <div style="border: 1px solid black;">
                  
                    <router-outlet></router-outlet>
              
                  </div>
              </div>
          </div>
    </div>
</div>

