 <div class="row">
  <div class="col-12 col-md-4 mb-4">
    <div class="text-center">
      <i class="fas fa-map-marked-alt mb-3"></i>
      <h2 class="mb-4">Adresimiz</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.628542970307!2d32.67961625057637!3d39.882557679329885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d338dd0f4e4bdb%3A0xcdaa194f1b2df06f!2s%C3%87ayyolu%20Buz%20Sporlar%C4%B1%20Salonu!5e0!3m2!1str!2str!4v1600727057410!5m2!1str!2str" width="300" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <div class="text-center">
      <i class="fas fa-mobile-alt mb-3"></i>
      <h2 class="mb-4">İletişim Adreslerimiz</h2>
      <div class="kontağım" *ngFor="let item of contacts">
        <p class="mb-3"> {{item.firstName + " "+item.lastName }}  </p>
        <p class="mb-3"> {{item.phone}} </p>
        <p class="mb-3"> {{item.email}} </p>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <div class="text-center">
      <i class="fas fa-envelope mb-3"></i>
      <h2 class="mb-4">Bize Ulaşın</h2>
    </div>
    <form  class="contact-form">
      <div class="form-group">
        <label for="formGroupExampleInput">Adınız ve Soyadınız</label>
        <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Adınız ve soyadınız">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email Adresiniz</label>
        <input type="email" name="mail" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="E-mail Adresiniz">
      </div>
      <div class="form-group">
        <label for="examplePhoneNumber">Telefon</label>
        <input type="text" class="form-control" id="examplePhoneNumber" name="phone" placeholder="Telefon numaranız">
      </div>
      <div class="form-group">
        <label for="exampleTextArea">Mesajınız</label>
        <textarea class="form-control" id="exampleTextArea" rows="3" name="message" placeholder="Mesajınız"></textarea>
      </div>
      <button type="submit" name="submit" class="btn mt-2">Gönder</button>
    </form>
  </div>
</div>