<div class="container">
  <h2 class="mt-2">Tüm Fotoğraflar</h2>
  <p style="font-size: 14px; color: red;" class="mt-2 mb-4">
    Son eklenenden başa doğru bir listeleme yapılmıştır. Anasayfa'da son eklenen 15 fotoğraf gözükecektir
  </p>
  <a routerLink="photoadd" class="nav-link">Yeni bir Fotoğraf eklemek için tıklayınız</a>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>        
        <th scope="col">Fotoğraf</th>
        <th scope="col">Del</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of gallery">
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>
          <img [src]="item.imageSrc" style="height: 80px; width: 80px;">
        </td>
        <td>
          <button class="btn btn-danger btn-sm pl-1" (click)="deletePhoto(item.id)">Del</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
