/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: #E0E0E0;
}

ul li {
    list-style-type: none;
}


a {
    text-decoration: none !important;
}

header {
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    
    background-image:  url("./assets/images/bg3.png");
    background-color: black;
    /* background: no-repeat; */
    background-position: right;
    background-repeat: no-repeat;
    /* background-origin: cover; */
    position: relative;
    margin-bottom: 30px;
}


header .nav-item a {
    text-transform: uppercase;
}

header .container {
    position: relative;
    height: 100%;
    padding: 0;
}

.navbar-brand {
    width: 100%;
    max-width: 100px;
    transition: opacity 10ms;
}



/*   ------------             Hero-text   ----------------               */

#denemes {
    padding-top:150px ;
}


.hero-text {
    text-align: center;
}

.hero-text h1 {
 /*   font-family: "Niconne", cursive; */
    color:#fff;
}

#header-btn a {
    font-size: 16px;
    font-weight: 500;
}

.btn {
    width: 100px;
    padding: 5px 0 !important;
    border: 1px solid #fff;
    position: relative;
    color: white;
    overflow: hidden;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3), transparent);
    transition: all 650ms;
}

.btn:hover::before {
    left: 100%;
}


/* Main Sectiob */

section {
    max-width: 98%;
}

/* -----------------   Notification --------------     */

#announcements a {
    color: #111 !important;
}

.notifications-top {
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 0 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ff304f;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.notifications-top a {
    position: absolute;
    top: 3%;
    color: #002651;
    padding-left: 80px;
    font-size: 24px;
    font-weight: bold;    
}

.notification-bottom a img {
    width:30px;
    height: 30px;
} 

.notification-bottom ul {
    height: 100%;
    background-color:grey ;
}

.notification-bottom a span {
    color: #fff;
    font-size: 15px;
}
/* -----------------------------      Notification Fin       --------------------------*/


/* About */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }



/* Contact Section */
#contact {
  padding-top: 40px;
}

#contact i {
  font-size: 50px;
}

#contact h2 {
  font-family: 'Teko' , sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}


#contact .btn {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
}

#contact .btn {
  width: 150px;
  transition: background-color 650ms;
}

#contact .btn:hover {
  color: #fff !important;
  background-color: #273341;
}

footer {
  background-color: #273341;
  color: #c69963;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
}

