<!--
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
         <img class="mr-3" src="../../../assets/images/gaskmini.jpg" alt="Gask" width="48" height="48"> 
        <div class="1h-100">
            <h6 class="mb-0 text-white 1h-100">Takımlarımız</h6> 
        </div>
    </div>

    <div class="my-1 bg-white rounded box-shadow" *ngFor="let item of teams">
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"> {{item.teamName}} </strong>
            </p>
            <div *ngIf="item.id == '1'">
                <a class="nav-link" routerLink="1">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '2'">
                <a class="nav-link" routerLink="2">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '3'">
                <a class="nav-link" routerLink="3">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '4'">
                <a class="nav-link" routerLink="4">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '5'">
                <a class="nav-link" routerLink="5">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '6'">
                <a class="nav-link" routerLink="6">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '7'">
                <a class="nav-link" routerLink="7">Takım Detay</a>
            </div>
            <div *ngIf="item.id == '8'">
                <a class="nav-link" routerLink="8">Takım Detay</a>
            </div>
        </div>
    </div>
</main>

-->


<div class="container mb-3">
    <div class="d-flex  p-3 my-3 text-white-50  rounded box-shadow myBlock">
        <div class="1h-100 text-center">
            <h4 class="mb-0 text-white  pl-2">Takımlarımız</h4>
        </div>
    </div>



    <div class="container">
        <p>Genç Ankaralılar Spor Kulübü olarak bir cok yaş grubunda başarıyla faaliyet gösteriyoruz</p>
        <div class="my-1 rounded box-shadow">
            <a routerLink="1">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Minikler Takımımız </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="my-1 rounded box-shadow">
            <a routerLink="2">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Yıldızlar B Takımımız </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="my-1 rounded box-shadow">
            <a routerLink="3">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Yıldızlar A Takımımız </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="my-1 rounded box-shadow">
            <a routerLink="4">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Genç Erkekler Takımımız </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="my-1 rounded box-shadow">
            <a routerLink="5">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Genç Kadınlar Takımımız </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="my-1 rounded box-shadow">
            <a routerLink="6">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Kadınlar Takımımız </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="my-1 rounded box-shadow">
            <a routerLink="7">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Erkekler Takımımız </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="my-1 rounded box-shadow">
            <a routerLink="8">
                <div class="media text-muted pt-3">
                    <div class="benimKupam">
                        <p class="media-body p-2 pl-3 mb-0 1h-125 border-bottom border-gray"> Milli Sporcularımız </p>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>